*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
}

.conteiner{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

h1{
    color: rgb(150, 12, 86);
}

.text{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(52, 186, 235);
    margin-left: 120px;
    display: block;
}

/*
INIZIO CARTE
*/

.card{
    float: left;
	display: inline-block; 
	width: calc((100% - 40px) / 3);
	margin-right: 20px;
    height: 100px;
    background-color: rgb(10, 10, 18);
    box-shadow: 2px 2px 2px black;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.card:nth-child(3n) {
	margin-right: 0;
}

/*
.debug .card{
border: 1px solid black; 
}
*/

img{
    max-height: 99px;
    float: left;
}

.name {
    color: white;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}

.job {
    color: white;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 13px;
    text-align: left;
}

/*
END PAGE
*/

.end-page{
    width: 100%;
    background-color: rgb(32, 32, 32);
    height: 200px;
}

#end-text{
    color: white;
    padding-top: 30px;
}